<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://mmwebfonts.comquas.com/fonts/?font=yunghkio');
        body {
            font-family:Yunghkio,Myanmar3,'Masterpiece Uni Sans' !important;
        }
    </style>
</head>
<body>
    <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        မော်လမြိုင်ကျွန်းမြို့နယ်
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        ဧရာဝတီတိုင်းဒေသကြီး
      </p>
    </div>
</div>
</body>
</html>